<template>
  <div id="ClassSelect">
    <v-container>
      <v-layout row wrap>
        <div><h1>Select the class you want to work in. </h1></div>
      </v-layout>
      <v-layout row wrap  fluid grid-list-sm>
                    <v-flex v-for="i in shared.userClass" :key="i.urlId" xs4>
            <v-btn large color="success" to="/" @click="assignClass(i)" dark>Classroom: {{i.cname}}</v-btn>
            </v-flex>
            <v-flex><v-btn large color="success" to="/onboard"> 
              <v-icon dark>add</v-icon>
              </v-btn>
              </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import store from '@/store'
export default {
  name: 'ClassSelect',
  data() {
    return {
      shared: store.state
    }
  },
  methods: {
    assignClass (classroom){
      store.setClassroom({cname:classroom.cname, urlId:classroom.urlId})
      localStorage.setItem('cname', classroom.cname)
      localStorage.setItem('urlId', classroom.urlId)
    }
  }
}
</script>
<style>
</style>