<template>
  <div id="Data-viz">

  </div>
</template>
<script>
import {Line} from 'vue-chartjs'
export default {
  extends: Line,
  name: 'DataViz',
  data () {
    return {
      formattedData:[]
    }
  },

  props: ['chartData','options'],
  mounted() {
    this.formattedData = this.formatData(this.chartData)
    this.renderChart({
      labels:[Date.now],
      datasets: this.formattedData,
      options:{responsive: true, maintainAspectRatio: false}
      })
    },
  methods:{
    formatData(houses){

      let formatHouse =houses.map((house) => {
        house.label= house.hName
        house.data = house.points
        console.log(house)
        return house
      })
      return formatHouse
    }
  }
}
</script>
<style>
</style>