<template>
  <v-footer height=auto>
    <v-layout row wrap>
      <v-flex xs12>

        <v-card flat tile class="primary white--text text-xs-center">

          <v-card-text class="white--text">
            &copy;2018 —
            <strong>DCS App</strong>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-footer>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
    
    }
  },
}
</script>
<style>
</style>