<template>
  <div id="Home">
    <v-container fluid  grid-list-lg >
    <v-toolbar-title headline class="layout justify-center align-center">Houses</v-toolbar-title>
  <br />
    <v-layout row wrap height=400px>
    </v-layout>
    <v-layout row wrap class="" >

    </v-layout>
    <div v-if="!chartLoading">
    <v-layout row wrap>
    <div class="layout justify-center align-center" ><pie-chart :data="chartsData"></pie-chart></div>
    </v-layout>
    <v-layout row wrap>
      <br />
      <br />
      <h3 class="layout justify-center align-center">Total Score: {{totalScore}}</h3>
    </v-layout>
    </div>
    </v-container>
    <hr />
    <v-container fluid  grid-list-lg >
    <v-toolbar-title headline class="layout justify-center align-center">Students</v-toolbar-title>
  <br />
    <v-layout row wrap class="" >
    <v-flex  xs12 md2 sm4 v-for="student in shared.students" :key="student.id">
      <v-card class="min-card">
        <v-card-title primary-title class="layout justify-center">
          <h3 class="title ">{{student.sFName}} {{student.sLName}} </h3>
        </v-card-title>
        <v-card-text class="text-xs-center">
          <div>{{student.House}}</div>
        </v-card-text>
      </v-card>
    </v-flex>
    </v-layout>
    </v-container>    
  </div>
</template>
<script>
import * as api from '../api/index'
import store from '@/store'
import DataViz from '@/components/DataViz'
export default {
  name: 'Home',
  data () {
    return {
      shared: store.state,
      chartsData: [0],
      labels: ['no data'],
      chartLoading: true,
      totalScore:0
    }
  },
  created () {
    api.getStudents()
    api.getUsername()
    api.getHouses()
    .then(() =>{
      this.chartsData = this.shared.houses.map((house) => {
        this.totalScore += house.points
        return  [house.hName, house.points]  
      })
      this.labels = this.shared.houses.map((house) => {
        return house.hName
      })
      this.chartLoading = false
    })
  },
  mounted () {

  },
  components:{
    DataViz,
  }
}
</script>
<style>
body{
  font-family: lato, Roboto;
  padding-bottom: -60px
}
#Home{
  margin-bottom:60px;
}

</style>
