<template>
    <div id="houses">
    <v-toolbar flat color="white">
      <v-toolbar-title>Houses</v-toolbar-title>
      <v-btn class="secondary" to="/sorting">Sorting Hat </v-btn>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
            <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
            <v-spacer></v-spacer>
            
  
    </v-toolbar>
       

    <v-data-table v-if="$vuetify.breakpoint.mdAndUp"
      :headers="headers"
      :items="shared.houses"
      :search = "search"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.hName }}</td>
        <td>{{ props.item.ret_cap}}</td>
        <td class="text-xs-left">{{ props.item.ret_current }}</td>
        <td class="text-xs-left">{{ props.item.points}}</td>
        <td class="text-xs-left">{{props.item.max_num}}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
    <div v-else>
    <v-container fluid  grid-list-lg>
    <v-layout row wrap>
    <v-flex  xs12 sm6 md4 v-for="house in shared.houses" :key="house.id">
     <v-card evalation>
      <v-card-title><h3 class="headline mb-0">{{house.hName}}</h3></v-card-title>
      <v-card-text>
      <div>Returning Cap: {{house.ret_cap}}</div>
      <div>Num of Returners: {{house.ret_current}}</div>
      <div>House Points: {{house.points}}</div>
      <div>Max Num of Students: {{house.max_num}}</div>
      </v-card-text>
      <v-card-actions>
      <v-icon
            medium
            class="mr-2"
            @click="editItem(house)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteItem(house)"
          >
            delete
          </v-icon>
        </v-card-actions> 
       </v-card> 
    </v-flex>
    </v-layout>
    </v-container>
    </div>
     <v-dialog v-model="dialog" max-width="500px">
          <v-btn class="accent" dark medium fixed bottom right fab slot="activator"> <v-icon>add</v-icon> </v-btn>
          
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
             <v-container grid-list-md>
            <v-flex row>
           
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.hName" label="House Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field type="number" v-model="editedItem.ret_cap" label="Returning Cap"></v-text-field>
                </v-flex>
                  <v-flex xs12 sm6 md4>
                  <v-text-field type="number" v-model="editedItem.ret_current" label="Current Returning"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field type="number" v-model="editedItem.points" label="Points"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field type="number" v-model="editedItem.max_num" label="Max Number of Students"></v-text-field>
                </v-flex>                
              </v-layout>
                </v-flex>
            
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
        <v-snackbar :timeout="timeout" justify-center align-center
                bottom="bottom"
                :color="snackColor"
                v-model="snackbar">
      {{ message }}
            <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </div>
</template>
<script>
import store from '@/store'
import * as api from '../api/index'
export default {
  name: 'Houses',
  data () {
    return {
      snackbar: false,
      err: '',
      snackColor: 'red lighten-1',
      message: '',
      timeout: 6000,
      search: '',
      dialog: false,
      isMobile: false,
      headers: [
        {
          text: 'House Name',
          align: 'left',
          value: 'hName'
        },
        {
          text: 'Returning Cap',
          align: 'left',
          value: 'ret_cap'
        },
        { text: 'Num of Returners', align: 'left', value: 'ret_current' },
        { text: 'Points', align: 'left', value: 'points' },
        { text: 'Max Number of Students', align: 'left', value: 'max_num'}
      ],
      editedIndex: -1,
      editedItem: {
        hName: 'Ravenclaw',
        ret_cap: 4,
        ret_current: 0,
        points: 100,
        max_num: 6
      },
      defaultItem: {
        hName: 'Ravenclaw',
        ret_cap: 4,
        ret_current: 0,
        points: 100,
        max_num: 6
      },
      error:'',
      shared: store.state
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New House' : 'Edit House'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    api.getHouses()
    api.getUsername()
    
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.shared.houses.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.shared.houses.indexOf(item)
      if (confirm('Are you sure you want to delete this item?') ) {
        api.deleteHouse(item)
        .then((data) => {
          this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
            this.shared.houses.splice(index, 1)
          }
        })
      }
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        let eHouse = {
          hName: this.editedItem.hName,
          ret_cap: this.editedItem.ret_cap,
          ret_current: this.editedItem.ret_current,
          id: this.editedItem.id,
          points: this.editedItem.points,
          max_num: this.editedItem.max_num
        }
        Object.assign(this.shared.houses[this.editedIndex], eHouse)
        api.editHouse(eHouse)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      } else {
        let newHouse = {
          hName: this.editedItem.hName,
          ret_cap: this.editedItem.ret_cap,
          ret_current: this.editedItem.ret_current,
          points: this.editedItem.points,
          max_num: this.editedItem.max_num
        }
        api.addHouse(newHouse)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      }
      this.close()
    }
  },
}
</script>
<style>
#Houses{
  margin-bottom: 60px;
}
.v-btn--right{
  right:35px;
}
.v-btn--bottom:not(.v-btn--absolute){
  bottom: 65px;
}
</style>
