<template>
    <div v-if="shared.auth">
    <v-navigation-drawer v-if="$vuetify.breakpoint.smAndUp"
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <v-list-tile to="/">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/students">
          <v-list-tile-action>
            <v-icon>face</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Students</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/houses">
          <v-list-tile-action>
            <v-icon>location_city</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Houses</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/scoring">
          <v-list-tile-action>
            <v-icon>star</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Scoring</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>        
      </v-list>
    </v-navigation-drawer>
    
    <v-toolbar color="primary" dark fixed app>
      <v-toolbar-side-icon v-if="$vuetify.breakpoint.smAndUp" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{cname}}<v-toolbar-title v-if="$route.name!='Home'" xs2>{{$route.name}}</v-toolbar-title></v-toolbar-title><v-spacer />

      <v-toolbar-title >Hello {{shared.user.name}}</v-toolbar-title>
        <v-btn  depressed color="primary" small fab  @click="gotoSettings"><v-icon>settings</v-icon></v-btn>
        <v-btn depressed class="warning" small round @click="signout">Sign out</v-btn>
    </v-toolbar>
    <v-flex v-if="$vuetify.breakpoint.xs">

        <v-bottom-nav active.sync fixed  class="navgiate primary white--text" height="50px">

        <v-btn small class="white--text resize-btn" to="/"><span>Home</span><v-icon>home</v-icon></v-btn>
        <v-btn small class="white--text resize-btn" to="/students"><span>Students</span><v-icon>face</v-icon></v-btn>
        <v-btn small class="white--text resize-btn" to="/houses"><span>Houses</span><v-icon>location_city</v-icon></v-btn>
        <v-btn small class="white--text resize-btn" to="/scoring"><span>Points</span><v-icon>star</v-icon></v-btn>
      </v-bottom-nav>
    </v-flex>
    </div>
</template>

<script>
import store from '../store'
import router from 'vue-router'
export default {
  name: 'Navbar',
  data () {
    return {
      drawer: false,
      shared: store.state,
      cname: ''
    }
  },
  props: {
    source: String
  },
  methods: {
    signout (){
      localStorage.removeItem('token')
      localStorage.removeItem('urlId')
      localStorage.removeItem('cname')
      store.setAuth(false)
      this.$router.push('/login')
    },
    gotoSettings (){
      this.$router.push('/settings')
    }
  },
  created () {
    if(!store.state.classroom.cname) {
      store.setClassroom({cname: localStorage.getItem('cname'), urlId:localStorage.getItem('urlId')})
      this.cname = store.state.classroom.cname
    }
    this.cname = store.state.classroom.cname
  },
}
</script>
<style>
.v-bottom-nav{
  bottom: 60px
}
.navigate{
  display: block;
}
</style>