<template>
<div>
  <v-card flat v-if="!classroomId"><v-card-title><h3>Hi {{tNname}}! Let's get started by creating a new classroom!</h3></v-card-title>
  <v-stepper v-model="e1" vertical>
      <v-stepper-step :complete="e1 > 1" step="1">What is the classroom's name?</v-stepper-step>
      <v-stepper-content step="1">
        <v-flex>
          <v-layout row wrap>                
            <v-flex xs12 >
                  <v-text-field label="Classroom Name"  v-model="newClassroom.classroomName"> </v-text-field>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
      <v-stepper-step :complete="e1 > 2" step="2">How many advisories are there?</v-stepper-step>
      <v-stepper-content step="2">
            <v-flex >
              <v-layout row wrap>
                <v-flex xs12 >
                  <v-text-field type="number" min="0" label="Number of Advisories"  v-model="newClassroom.numOfAdvisory">
                  </v-text-field>
                </v-flex>
              </v-layout>
            </v-flex>
        <v-btn
          color="primary"
          @click="classroomSubmit"
        >
          Submit
        </v-btn>
        <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Back
        </v-btn>
      </v-stepper-content>

        <div v-if="classCreated" xs9>
                <v-layout row wrap>
    <v-flex v-if="classGen">
      <v-card flat xs12 md4>
      <v-card-title><h4>Unique classroom URL. Share it with your class!</h4><h4>Click to copy to clipboard</h4></v-card-title><v-card-text><v-text-field readonly solo id="url" v-model="classURL" append-icon="library_books" @click="copytext"></v-text-field></v-card-text>
      <v-btn @click="goHome" color="success">Continue</v-btn>
      </v-card>
    </v-flex>
          </v-layout>
  </div>

  </v-stepper>
  </v-card>
        <v-snackbar :timeout="timeout" justify-center align-center
      bottom="bottom"
      :color="snackColor"
      v-model="snackbar">
      {{ message }}
      <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
</div>
</template>
<script>
import * as api from '../api/index'
import store from '@/store'
export default {
  props:{
    tNname:String,
    classroomId:String
  },
  data () {
    return {
      e1: 0,
      classCreated: true,
      classURL:'https://dcs.krausecode.me/login?classroom=',
      newClassroom:{
        classroomName:'',
        numOfAdvisory:'',
      },
      snackbar: false,
      err: '',
      valid: true,
      snackColor: 'red lighten-1',
      message: '',
      timeout: 6000,
      classGen:false,
    }
  },
  methods: {
    classroomSubmit () {
        this.e1 = 3
        api.createClassroom(this.newClassroom)
        .then((data) => {
          this.classCreated = true
          this.classURL = `dcs.krausecode.me/login?classroom=${data.id}`
          this.classGen = true
        store.setClassroom({cname:this.newClassroom.classroomName,urlId:data.id})
        localStorage.setItem('cname', this.newClassroom.classroomName)
        localStorage.setItem('urlId', data.id)
        })
    },
    copytext(){
        let selectedText = document.getElementById('url')
        selectedText.select()
        document.execCommand("copy")
        this.snackbar = true
          this.snackColor = 'green darken-1'
          this.message = "Url copied"
          this.timeout = 1500
    },
    goHome(){
      this.$router.push({name: 'Home'})
    }
  }
}
</script>
<style>
#url:focus{
  background-color: rgba(0,255,33,.07)
}
</style>
