<template>
  <div id="Scoring">
    <v-container grid-list-md><v-layout  row wrap class="layout justify-center" >
    <h2>Last 12 Score Entries</h2> 
    </v-layout>
    <v-layout  row wrap class="layout justify-center" >
   
    <v-flex xs12 md3 sm4 v-for="point in shared.points" :key="point.id">
      <v-card class="elevation-3">
       <v-card-title >{{point.summary}}</v-card-title>
        <v-card-text>
            <div><strong>Points added:</strong>{{point.add_points}}</div>
            <div><strong>Creator:</strong>{{point.creator}}</div>
            <div><strong>House:</strong>{{point.hName}}</div>
            <div><strong>House Points:</strong>{{point.points}}</div>
        </v-card-text>
        <v-card-actions>
          <v-icon
            medium
            @click="deleteItem(point)"
          >
            delete
          </v-icon></v-card-actions>

      </v-card>
    </v-flex>
          <v-dialog v-model="dialog" max-width="500px">
            <v-btn class="accent" dark medium fixed bottom right fab slot="activator"> <v-icon>add</v-icon> </v-btn>
          
          <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
            <v-card-text>
          <v-form ref="addPointForm" v-model="valid" lazy-validation>
             <v-container grid-list-md>
            <v-flex row>
                <v-flex row>   
              <v-layout wrap>

              <v-flex xs12 sm6 md4 row>

               <div>House:</div>
                <v-overflow-btn v-model="editedItem.House"
                :items="shared.houses"
                item-text="hName"
                :rules="[rules.required]"
                return-object
                label="House"
              ></v-overflow-btn>
                </v-flex>
              </v-layout>
                </v-flex>
                  <v-layout wrap>
                      <v-flex xs12 sm6 md4 row>
                  <v-text-field type="number" :rules="[rules.required]" v-model="editedItem.add_points" label="Points i.e 100" ></v-text-field>
                </v-flex>
                  <v-flex xs12 sm6 md4>
                  <v-text-field :rules="rules.nameRules" v-model="editedItem.summary" hint="Point summary" label="Summary"></v-text-field>
                </v-flex>

              </v-layout>
            </v-flex>
             </v-container>
          </v-form>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn :disabled="!valid" color="blue darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
          </v-card>
          </v-dialog>
    </v-layout>
    </v-container>
        <v-snackbar :timeout="timeout" justify-center align-center
      bottom="bottom"
      :color="snackColor"
      v-model="snackbar">
      {{ message }}
            <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>
<script>
import store from '@/store'
import * as api from '../api/index'
export default {
  name: 'Scoring',
  data () {
    return {
      shared: store.state,
      dialog: false,
      shared: store.state,
      snackbar: false,
      err: '',
      valid: true,
      snackColor: 'red lighten-1',
      message: '',
      timeout: 6000,
      editedIndex: -1,
      editedItem: {
        summary: '',
        add_points: 100,
        House: 'No House'
      },
      defaultItem: {
        summary: '',
        add_points: 100,
        House: 'No House'
      },
      rules:{
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        nameRules: [
          v => !!v || 'Name is required',
          v => (v && v.length <= 160) || 'Summary must be less than 160 characters'
        ],
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Points' : 'Edit Points'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    api.getUsername()
    api.getPoints()
    api.getHouses()
  },
   methods: {
    editItem (item) {
      this.editedIndex = this.shared.points.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.shared.points.indexOf(item)
      //if (confirm('Are you sure you want to delete this item?')) {
        let delPoint= {
        id: item.id,
        }
        api.deletePoint(item)
        .then((data) =>{      
          console.log(data)   
          api.getHouses()
          api.getPoints() 
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
            this.shared.points.splice(index, 1)
          }
        })
      //}
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.$refs.addPointForm.validate()) {
      if (this.editedIndex > -1) {
        let ePoint = { 
          summary: this.editedItem.summary,
          houseId: this.editedItem.houseId,
          creator: 'Teacher: '+ this.shared.user.name,
          add_points: this.editedItem.add_points,
          houseId: this.editedItem.House.id,
          id: this.editedItem.id
        }
        console.log(ePoint)
        Object.assign(this.shared.points[this.editedIndex], ePoint)
        api.editPoint(ePoint)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      } else {
        let newPoint = {
          summary: this.editedItem.summary,
          houseId: this.editedItem.House.id,
          creator: 'Teacher: '+this.shared.user.name ,
          add_points: this.editedItem.add_points,
          classroom: this.shared.classroom.url
        }
        console.log(newPoint)
        api.addPoint(newPoint)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      }}
      this.close()
    }
  },
  mounted() {
    api.getPoints()
  }
}
</script>
<style>
#Scoring{
  margin-bottom: 60px;
  
}
.v-btn--right{
  right:35px;
}
.v-btn--bottom:not(.v-btn--absolute){
  bottom: 65px;
}
</style>