<template>
  <div id="Settings">
    <v-container>
  <v-layout row wrap>
    <v-flex xs12 >
      <v-card flat>
        <v-card-title><h2>User</h2></v-card-title>
        <v-card-text>
  <div>
 <v-form lazy-validation >
    <v-text-field
      v-model="userName"
      :rules="[rules.nameRules]"
      :counter="10"
      label="Edit your name"
    ></v-text-field>
    <v-text-field
      v-model="userEmail"
      :rules="[rules.emailRules]"
      label="E-mail"
    ></v-text-field>
    <v-btn @click="submitUserEmail" medium>Change Username</v-btn>
  </v-form>

  
  </div>
  <v-divider />
  <div>
    <br />
    <h3>Change your password</h3>
     <v-form lazy-validation>
    <v-text-field
      v-model="currentPassword"
      label="Current Password"
      :rules="[rules.required]"
    ></v-text-field>
  <v-text-field v-model="newPassword" :append-icon="show1 ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.passwordRules]"
    :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
  <v-text-field v-model="confirmPassword" :append-icon="show1 ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.passwordRules]"
    :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
    <v-btn @click="submitPasswordChange" medium>Change Password</v-btn>
</v-form>

  </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
        <v-flex xs12 >
      <v-card flat>
        <v-card-title><h2>Classroom</h2></v-card-title>
        <v-card-text>
          <v-form lazy-validation>
                <v-text-field
      v-model="cName"
      counter
      label="Edit the classroom name"
    ></v-text-field>
         <v-text-field xs9 type="text" readonly solo label="Classroom URL"  v-model="urlId"> </v-text-field>
                 <v-btn small xs3>Generate new url</v-btn>
          </v-form>
        </v-card-text>
        </v-card>
          <br />
  <br />
        </v-flex>
  </v-layout>

    </v-container>
  </div>
</template>
<script>
import store from '@/store'
import * as api from '../api/index'
export default {
  name: 'Settings',
  data() {
    return {
    userName: '',
    show1: false,
    userEmail: '',
    newPassword: '',
    confirmPassword: '',
    currentPassword: '',
    cName:'',
    urlId:'',
    rules:{
      required: value => !!value || 'Required.',
      nameRules: 
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ,
      emailRules: 
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ,
      passwordRules: 
        v => v.length >= 8 || 'Name must be more than 8 characters'
      
      }
    }
  },
  mounted () {
    api.getUsername()
    .then(() =>{
      this.userName = store.state.user.name
      this.userEmail = store.state.user.email
      this.cName = store.state.classroom.cname
      this.urlId = `https://krausecode.me/?classroom=${store.state.classroom.urlId}`
    })
  }
}
</script>
<style>
</style>