<template>
  <div id="Sorting">
    <v-container>
    <v-layout row wrap>
      <v-flex class= "layout justify-center align-center">
    <h2>Search for a student below to find out which house they belong</h2>

      </v-flex>
      <v-flex class= "layout justify-center align-center">
        <div>Please Search for a student: </div> 
        
        <v-autocomplete
          :items="this.currentStudents"
          v-model="search"
          label="Students"
          editable
          item-text="fullName"
          return-object
        ></v-autocomplete>
      </v-flex>
    </v-layout>
        <v-layout row wrap class= "layout justify-center align-center">
          <v-flex class= "layout justify-center align-center">
        <v-btn class='secondary' :loading="loading" :disabled="!isStudentSelected" @click="sortStudent">Sort Student</v-btn>
          </v-flex>
        </v-layout>
        <v-layout row wrap >
        <v-flex xs12 md4 v-if=appearHat class= "layout justify-center align-center">        
          <img class="hat" src="/static/images/fixed_sort_hat.gif" /> <br />
        </v-flex>
        <v-flex v-if="sorted" class= "layout justify-center align-center">
            <h2>Your house is: {{selectedHouse}}</h2>
        </v-flex>
        </v-layout>
    <v-snackbar :timeout="timeout" justify-center align-center multi-line
                bottom="bottom"
                :color="snackColor"
                v-model="snackbar">
      {{ message }}
            <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </v-container>
  </div>
</template>
<script>
import store from '@/store'
import * as api from '../api/index'
export default {
  name: 'Scoring',
  data () {
    return {
      loading: false,
      appearHat: false,
      search: '',
      sorted: false,
      shared: store.state,
      currentStudents:[],
      errorMessage:'',
      isStudentSelected: false,
      snackbar: false,
      err: '',
      snackColor: 'red lighten-1',
      message: '',
      timeout: 6000,
      dialog: false,
      selectedHouse: ''
    }
  },
  methods:{
    genFullName(){
      let fullNameStudent = this.shared.students.map( (student) =>{
        student.fullName = `${student.sFName} ${student.sLName} ${student.id}`
        return student
      })
      this.currentStudents = fullNameStudent
    },
    sortStudent(){
      if(this.search.id){
        this.loading = true
        this.appearHat =true,
        api.sortSelectedStudent(this.search)
        .then(({data}) => {
          console.log(data)
          if (!data.error){
          setTimeout(() =>{
          this.snackbar = true
          this.snackColor = "green darken-1"
          this.message = `Hmmmmm. I have selected ${data.data[1].selectedHouse.hName}!`
          this.selectedHouse = data.data[1].selectedHouse.hName
          this.loading = false
          this.appearHat = false
          this.sorted = true
          },4000)
          } else {
            this.snackbar = true
            this.snackColor = "red lighten-1"
            this.message = ''
            if(data.error.max) this.message += `${data.error.max}.  `
            if(data.error.ret) this.message += `${data.error.ret}.  `
            if(data.error.advisory) this.message += `${data.error.advisory}.  `
          }
        }) .catch((error) => {
            console.log('error', error)
        })
      }
    }

  },
  mounted () {
    api.getStudents()
    .then((students) =>{
      this.genFullName()
    })
    
  },
  computed:{
    computedSearch: function () {
      if( this.search.length >0)
      return this.search + 'oh snape'
    }
  },
  watch: {
    search: function () {
      if( this.search.id){
        this.isStudentSelected = true
      } else {
        this.isStudentSelected = false
      }
    }
  }
}
</script>
<style <style scoped>
.hat{
  width:auto;
  height:45vh;
}
</style>
