<template>
  <div id="StudentHome">
    <h2>{{shared.house[student.houseId]}} Points: {{shared.house[student.houseId]}}</h2>
    <h3>Today's Task</h3>
  </div>
</template>
<script>
export default {
  name: 'StudentHome',
  data() {
    return {
    
    }
  },
}
</script>
<style>
</style>