<template>
    <div id="students">
    <v-card v-if="$vuetify.breakpoint.mdAndUp">
    <v-toolbar flat color="white">
      <v-toolbar-title>Students</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      
      <v-spacer></v-spacer>
            <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
            <v-spacer></v-spacer>

    </v-toolbar>
      
    <v-data-table
          class="elevation-1"
      :headers="headers"
      :items="shared.students"
      :search = "search"

    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.sFName }}</td>
        <td>{{ props.item.sLName }}</td>
        <td class="text-xs-left">{{ props.item.House }}</td>
        <td class="text-xs-left">{{(props.item.returning) ? 'True':'False'}}</td>
        <td class="text-xs-left">{{props.item.advisory_num}}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
    </v-card>
    <div v-else>
    <v-container fluid  grid-list-lg>
    <v-layout row wrap>
    <v-flex  xs12 md4 sm6 v-for="student in shared.students" :key="student.id">
     <v-card evalation>
      <v-card-title><h3 class="headline mb-0">{{student.sFName}} {{student.sLName}}</h3></v-card-title>
      <v-card-text>
      <div>House : {{student.House}}</div>
      <div>Returning Student: {{student.returning}}</div>
      <div>Advisory: {{student.advisory_num}}</div>
      </v-card-text>
      <v-card-actions>
      <v-icon
            medium
            class="mr-2"
            @click="editItem(student)"
          >
            edit
          </v-icon>
          <v-icon
            medium
            @click="deleteItem(student)"
          >
            delete
          </v-icon>
        </v-card-actions> 
       </v-card> 
    </v-flex>
    </v-layout>
    </v-container>
    </div><v-dialog v-model="dialog" max-width="500px">
      <v-btn class="accent" dark medium fixed bottom right fab slot="activator"> <v-icon>add</v-icon> </v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
       
            <v-flex row>
           
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.sFName" label="First Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.sLName" label="Last Name"></v-text-field>
                </v-flex>
              </v-layout>
                </v-flex>
            <v-flex row>   
              <v-layout wrap>
              <v-flex xs12 sm6 md4>
               <div>House:</div>
                <v-overflow-btn v-model="editedItem.House"
                :items="shared.houses"
                item-text="hName"
                return-object
                label="House"
              ></v-overflow-btn>
                </v-flex>
            <v-flex xs12 sm6 md4> 
              <div>Returning:</div>
              <br/>
               <v-btn-toggle v-model="editedItem.returning" mandatory>
              <v-btn >
                False
              </v-btn>
              <v-btn >
                True
              </v-btn>
            </v-btn-toggle>
                </v-flex>
              <v-flex xs12 sm6 md4>
               <div>Advisory:</div>
                <v-overflow-btn v-model="editedItem.advisory_num"
                :items="advice"
                return-object
                label="Advisory"
              ></v-overflow-btn>
                </v-flex>               
              </v-layout>
                </v-flex>
        
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    <v-snackbar :timeout="timeout" justify-center align-center
      bottom="bottom"
      :color="snackColor"
      v-model="snackbar">
      {{ message }}
            <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </div>
</template>
<script>
import store from '@/store'
import * as api from '../api/index'
export default {
  name: 'Students',
  data () {
    return {
      search: '',
      dialog: false,
      advice: [ 1, 2 ],
      snackbar: false,
      err: '',
      snackColor: 'red lighten-1',
      message: '',
      timeout: 6000,
      headers: [
        {
          text: 'First Name',
          align: 'left',
          value: 'sFName'
        },
        {
          text: 'Last Name',
          align: 'left',
          value: 'sLName'
        },
        { text: 'House', align: 'left', value: 'House' },
        { text: 'Returning Student', align: 'left', value: 'returning' },
        { text: 'Advisory', align: 'left', value: 'advisory_num' }
      ],
      editedIndex: -1,
      editedItem: {
        sFName: 'Harry',
        sLName: 'Potter',
        House: 'No House',
        returning: 1,
        advisory_num: 0
      },
      defaultItem: {
        sFName: 'Harry',
        sLName: 'Potter',
        House: 'No House',
        returning: 1,
        advisory_num: 0
      },
      shared: store.state
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Student' : 'Edit Student'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    api.getUsername()
    api.getStudents()
    api.getHouses()
    .then(() => {
      store.state.houses.push({'hName': 'No House', 'id': null})
      this.houses = store.state.houses
    })
    
  },
  methods: {
    editItem (item) {
      this.editedIndex = this.shared.students.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.shared.students.indexOf(item)
      //if (confirm('Are you sure you want to delete this item?')) {
        let delStud = {
        id: item.id,
        }
        api.deleteStudent(delStud)
        .then((data) =>{      
          console.log(data)    
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
            this.shared.students.splice(index, 1)
          }
        })
      //}
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        let eStudent = { }
        if (this.editedItem.House.hName) {
          eStudent = {
            sFName: this.editedItem.sFName,
            sLName: this.editedItem.sLName,
            returning: this.editedItem.returning,
            House: this.editedItem.House.hName,
            houseId: this.editedItem.House.id,
            id: this.editedItem.id,
            advisory_num: this.editedItem.advisory_num
          }
        } else {
          eStudent = {
            sFName: this.editedItem.sFName,
            sLName: this.editedItem.sLName,
            returning: this.editedItem.returning,
            House: this.editedItem.House,
            houseId: this.editedItem.House.id,
            id: this.editedItem.id,
            advisory_num: this.editedItem.advisory_num
          }
        }
        Object.assign(this.shared.students[this.editedIndex], eStudent)
        api.editStudent(eStudent)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      } else {
        let newStudent = {
          sFName: this.editedItem.sFName,
          sLName: this.editedItem.sLName,
          returning: this.editedItem.returning,
          houseId: this.editedItem.House.id,
          advisory_num: this.editedItem.advisory_num
        }
        api.addStudent(newStudent)
        .then((data) =>{          
        this.snackbar = true
          if (data.error) {
            this.snackColor = 'red lighten-1'
            this.message = data.error
          }else {
            this.snackColor = 'green darken-1'
            this.message = data.message
          }
        })
      }
      this.close()
    }
  }
}
</script>
<style>
#students{
  margin-bottom: 60px;
}
.v-btn--right{
  right:35px;
}
.v-btn--bottom:not(.v-btn--absolute){
  bottom: 65px;
}
</style>
