<template>
  <div id="signin">
    <v-layout align-center justify-center row fill-height>

      <v-card v-if="!signup" flat class="sCard" xs12 width=400px>
        <v-card-title primary-title>
          <div class="headline">Signin</div>
        </v-card-title>
        <v-card-text>
          <v-form ref="signinform" v-model="valid" lazy-validation>
            <v-text-field v-model="credentials.username" :rules="rules.emailRules" label="E-mail" required></v-text-field>

            <v-text-field v-model="credentials.password" :append-icon="show1 ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
            <v-card-actions>
              <v-btn :disabled="!valid" @click="signinSubmit">
                submit
              </v-btn>
              <v-btn @click="clear">clear</v-btn>
              <v-btn @click="signup = !signup">Need to signup?</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
        
      <button ><a href="http://localhost:3090/auth/google"><img id="googbtn" src="../../assets/btn_google_signin.png" /></a></button>
      </v-card>
      <v-card v-else class="sCard" width=400px>
        <v-card-title primary-title>
          <div class="headline">Signup</div>
        </v-card-title>
        <v-card-text>
          <v-form ref="signupform" v-model="valid" lazy-validation>
            <v-text-field v-model="credentials.tName" :rules="rules.nameRules" :counter="10" label="Name" required></v-text-field>
            <v-text-field v-model="credentials.username" :rules="rules.emailRules" label="E-mail" required></v-text-field>

            <v-text-field v-model="credentials.password" :append-icon="show1 ? 'visibility_off' : 'visibility'" :rules="[rules.required, rules.min]"
              :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
            <v-card-actions>
              <v-btn :disabled="!valid" @click="signupSubmit">
                submit
              </v-btn>
              <v-btn @click="clear">clear</v-btn>
              <v-btn @click="signup = !signup">Need to signin?</v-btn>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>

    <v-snackbar multi-line :timeout="timeout"
                bottom="bottom"
                color='red lighten-1'
                v-model="snackbar">
      {{ message }}
    </v-snackbar>
    </v-layout>
  </div>
</template>
<script>
import Authentication from "@/components/Auth";
import * as api from "@/api/index";
import Vue from 'vue';
import * as cookies from 'js-cookie'
export default {
  data: () => ({
    snackbar: false,
    err: "",
    show1: false,
    valid: true,
    signup: false,
    signSuccess: false,
    message: "",
    timeout: 6000,
    classroom: '',
    credentials: {
      tName: "",
      username: "",
      password: "Password"
    },
    user: {
      authenticated: false
    },
    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters",
      nameRules: [
        v => !!v || "Name is required",
        v => (v && v.length <= 10) || "Name must be less than 10 characters"
      ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    }
  }),
  methods: {
    signinSubmit() {
      if (this.$refs.signinform.validate()) {
        Authentication.authenticate(this, this.credentials, "Home");
      }
    },
    signupSubmit() {
      if (this.$refs.signupform.validate()) {
        Authentication.signup(this, this.credentials, "Home");
      }
    },
    clear() {
      this.$refs.form.reset();
    },
    googleSignin() {
      Authentication.googleSign()
    }
  },
  mounted () {
    console.log(document.cookie)

  }
};
</script>
<style>
body {
  font-family: lato;
}
.sCard {
  margin-top: 15vh;
}

#signin {
  background-image: url("/static/images/green-bay.jpg");
  min-height: 100vh;
}
#googbtn{
  width: 200px;
}
</style>
