<template>
  <div id="About">
    <v-container>
      
      <v-layout row wrap xs12>
        <v-flex  wrap xs12 class="layout align-center justify-center">
        <div>Student Name</div> <br/>
            <div>House Honesty: 500</div>
        </v-flex>
    
        <v-tabs id="tab-tasks" width=100% v-model="active" color="cyan" dark slider-color="yellow">
          <v-tab v-for="bujo_tab in bujo_tabs" :key="bujo_tab.title">{{bujo_tab.title}}</v-tab>
          <v-tab-item :id="'Today'" :key="'Today'">
            <v-card flat>
              <v-card-title>Tasks:</v-card-title>
              <v-card-text >
              
                <v-list v-for="task in bujo_tabs[0].tasks" :key="task">
                  <v-list-tile>
                    <v-list-tile-content>
                  {{task}}
                    </v-list-tile-content>
                <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon x-large color="grey lighten-1">done</v-icon>
              </v-btn>
            </v-list-tile-action>
                  </v-list-tile>
                </v-list>
              </v-card-text>
           </v-card>
            
          </v-tab-item>
          <v-tab-item :key="'Week'">
                <v-expansion-panel
      expand
    >
      <v-expansion-panel-content
        v-for="(bujo_tab,j) in bujo_tabs[1].week"
        :key="j"
      >
        <div slot="header">{{bujo_tab.day}}</div>
        <v-card>
          <v-card-text class="grey lighten-3">
            <div v-for="(task,i) in bujo_tab.tasks" :key="i+j">
              {{task}}
              </div>
              </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
          </v-tab-item>
          <v-tab-item>

          </v-tab-item>
        </v-tabs>
      </v-layout>
           <v-dialog v-model="dialog" max-width="500px">
          <v-btn class="accent" dark medium fixed bottom right fab slot="activator"> <v-icon>add</v-icon> </v-btn>
          
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
             <v-container grid-list-md>
            <v-flex row>
           
              <v-layout wrap>
                <v-flex xs12 >
                  <v-text-field type="text" v-model="editedTask.summary" label="Summary"></v-text-field>
                </v-flex>     
                <v-flex xs12 >
                  <v-date-picker v-model="editedTask.comp_date" @input="menu2 = false"></v-date-picker>
                </v-flex>                          
              </v-layout>
                </v-flex>
            
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar :timeout="timeout" justify-center align-center
        bottom="bottom"
        :color="snackColor"
        v-model="snackbar">
      {{ message }}
    </v-snackbar>
    </v-container>
  </div>
</template>
<script>
import * as api from "../api/index";
import {mapState} from 'vuex';
export default {
  name: "About",
  data() {
    return {
      ftoday: "Cannot get todays date",
      active: null,
      weeks: "",
      snackbar: false,
      err: "",
      menu2: false,
      snackColor: "red lighten-1",
      message: "",
      timeout: 6000,
      search: "",
      dialog: false,
      editedIndex: -1,
      bujo_tabs: [
        { title: "Today", date: "", tasks: ["Do Homeowrk", "Aleks Math"] },
        { title: "Week", week: [] },
        { title: "future", future: [] }
      ],
      user: "",
      editedTask: {
        summary: "",
        completed: "",
        comp_date: ""
      },
      defaultTask: {
        summary: "",
        completed: "",
        comp_date: ""
      }
    };
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Task" : "Edit Task";
    },
    ...mapState({
      tasks: state => state.tasks
    })
  },
  methods: {
    generateWeek: function() {
      let newDay = new Date();
      let week = [];
      this.bujo_tabs[0].date = `${newDay.getMonth() + 1} ${newDay.getDate()}`;
      for (let i = 1; i < 6; i++) {
        week.push({
          day: `${newDay.getMonth() + 1} ${newDay.getDate() + i}`,
          tasks: ["Do Homework", "Practice Karate"]
        });
      }
      this.bujo_tabs[1].week = week;
      this.weeks= week;
    },
    addNewTask(newTask) {
      api.addTask(newTask).then(response => {
        this.message = response.data;
      });
    }, 
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    editTask(eTask) {},
    deleteTask(dTask) {},
    save() {
        let newTask = {
          summary: this.editedTask.summary
        };
        console.log('new task', newTask)
        api.addTask(newTask).then(data => {
          this.snackbar = true;
          if (data.error) {
            this.snackColor = "red lighten-1";
            this.message = data.error;
          } else {
            this.snackColor = "green darken-1";
            this.message = data.message;
          }
        });
      
      this.close();
    }
  },
  mounted() {
    this.generateWeek();
  }
};
</script>
<style>
#tab-tasks {
  width: 100%;
}
</style>
