<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
  </div>
</template>
<script>
import * as api from "../api/index";
import store from "@/store";
import { addDays, startOfDay, getDay } from "date-fns";
export default {
  name: "home",
  data() {
    return {
      week: ""
    };
  },
  mounted() {
    this.week = this.generateWeek();
  },
  methods: {
    generateWeek() {
      let today = new Date();
      let dtoday = Date.getDate();
      let newWeek = eachDay();
      console.log(dtoday);
      return todayNow;
    }
  }
};
</script>
