<template>
    <v-app>
    <Navbar> </Navbar>
    <v-content>
    <router-view />
    </v-content>
    </v-app>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer'
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  name: 'App',
  components: {
    Navbar,
    Footer
  }
}
</script>
